# IDE/editor files
*.idea
*.suo
.ntvs
*.njsproj
*.sln
*.sw?

# Logs
logs
*.log

# Build files
node_modules
build
dist
target

# Environment files
.env

# Visual Studio code files
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json

# Editor preferences
*.iml

# Dependency directories
/vendor

# Dockerfiles
Dockerfile
docker-compose.yml

# Debug files
npm-debug.log
yarn-debug.log
yarn-error.log

# Node cache files
.pnp.*

# BS config files
.idea
*.toml

# OS temporary files
.DS_Store
ehthumbs.db
Thumbs.db

# Local configs
configs/application-local.yml

# Coverage reports
coverage/
*.lcov

# Asset directories
/public/assets

# LinuxC cmake files
CMakeLists.txt